body {
  background-color: #282c34;
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --baseFontSize: 18px;
  --fontFamilySans: Roboto, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamilyMono: "Roboto Mono", monospace;
  --textColor: rgba(14, 30, 37, 0.87);
  --borderColor: #e9ebeb;
  --accentColor: #00ad9f;
}


input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  padding: 0 0.5em;
  height: 2.5em;
  line-height: 2.5;
  border: 2px solid var(--borderColor);
  border-radius: 4px;
  font-weight: bold;
}

button,
.button {
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.08);
  border: 0;
  background: var(--accentColor);
  color: white;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  height: 2.5em;
  line-height: 2.5;
  padding: 0 1em;
  min-width: 10em;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transform: translateY(0);
  transition: all .15s ease;
  margin-top: 10px;
}

button:focus,
button:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
} */
